.CardOverview {
    display: flex;
    justify-content: space-between;
}

.CardPrice span,
.content_CardOverview span {
    display: block;
}

.content_CardOverviewNumber {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.CardPrice {
    text-align: center;
}